body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#313131;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1 {
    text-align: center;
  }
  
  .app {
    background: #53cf7d;
    padding: 30px;
    height: 100vh;
  }
  
  .todo-list{
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
  }
  
  .todo:hover {
    box-shadow: 1px 2.5px 2.5px rgba(0,0,0, 0.15);
    color:#53cf7d;
    cursor: pointer;
  }
  
  .todo{
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
  }
  
  .input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }
  
  .input:hover {
    /* background-color: #d9f0e1; */
    border: 2px solid #53cf7d;
  }